In [3]:
import pandas as pd

In [5]:
data=pd.read_csv("aruna.csv")

In [6]:
print(data)

   id   name       place
0   1  aruna    ktc naga
1   2   siva        town
2   3    ram    new yark
3   4   rani  califoniya